{% include 'base.html' %}
{% block content %}
<div class="flex justify-center mt-10">
    <form action="{% url 'course_register' %}" method="POST" class="bg-DeepBlue shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-lg">
        {% csrf_token %}
        <div class="mb-4">
            <label for="name" class="block text-white text-lg font-bold mb-2 ">Enter Name</label>
            <input type="text" name="name" 
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Name">
        </div>
        <div class="mb-4">
            <label for="code" class="block text-white text-lg font-bold mb-2">Enter Subject Code</label>
            <input type="text" name="code" 
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Sub Code">
        </div>
        <div class="mb-6">
            <label for="text" class="block text-white text-lg font-bold mb-2">Enter Description</label>
            <input type="text" name="text" 
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" placeholder="">
        </div>
        <div class="flex items-center justify-between">
            <input type="submit" 
            class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                
            
        </div>
    </form>
</div>
{% endblock %}
