{% include 'base.html' %}
{% block content %}
<div class="max-w-4xl mx-auto py-8">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Student List</h2>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead>
                <tr class="w-full border-b">
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm text-gray-600">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for student in studentList %}
                    <tr class="hover:bg-green-400">
                        <td class="text-left py-3 px-4">
                            <a href="{% url 'student_detail' student.pk %}" class="text-blue-600 hover:text-blue-800">
                                {{ student.name }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
